{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="jumbotron text-center" style="background-color:#333333">
        <h3 style="color:white"><b>Learn English Projesine Hoşgeldiniz...</b></h3>
        <br>
        <p style="color:white">İsmail Sefa AKDENİZ</p>
        <p style="color:white">Yazılım yapımı dersi dönem proje ödevi.</p>
        <p style="color:white">İngilizce kelime öğrenme sitesi.</p>
        <p style="color:white">
        {% if request.user.is_authenticated %}
                Hoş Geldin, {{request.user.username}}
        {% else %}
                Giriş Yapılmamış
        {% endif %}
        </p>

        <img src="{% static 'img/index.jpg' %}" class="img-fluid" alt="Girl in a jacket">   
</div>

{% endblock body %}