<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
    .word{
        font-size: 40px;
        text-color:white;
        background-color:gray;
        text-align:center;
        width:199px;
        border-radius:20px;
        border:2px solid #ccc;       
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <title>Learn English</title>
</head>
<body>  
    {% include "includes/navbar.html" %}
    <div style = "margin-top : 100px; margin-bottom:100px;" class = "container">             
        {% if messages %}               
            {% for message in messages %}
                {% if message.tags == "info" %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}               
        {% endif %}      
                 
        {% block body %}

        {% endblock body %}
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
</body>
</html>