{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-6 offset-md-3" style="background-color:#333333">
        <br>
        <h3 style="color:white">Kayıt Ol</h3>
        <hr>
        <form method = "post" style="color:white">
            {% csrf_token %} 
            {{form|crispy}}          
            <button type = "submit" class = "btn btn-danger">Kayıt Ol</button>
            <br>
            <br>
            Hesabın var mı? <a href="{% url 'user:login' %}">Giriş Yap</a>
        </form>
        <br>
    </div>
</div>

{% endblock body %}