<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
    <title>Learn English</title>
    <script>

    window.onload = function () {
    var options = {
	title: {text: "Son 3 Yıl Ezberleme Sayıları"},
	data: [              
	{
		type: "column",
		dataPoints: [
			{ label: "{{yearName.0}}",  y: {{yearCount.0}} },
            { label: "{{yearName.1}}",  y: {{yearCount.1}} },
            { label: "{{yearName.2}}",  y: {{yearCount.2}} },       
		]
	}
	]
    };
$("#chartContainer").CanvasJSChart(options);
    var options = {
	title: {
		text: "Aylık Ezberleme Sayıları"              
	},
	data: [              
	{
		type: "column",
		dataPoints: [
			{ label: "Ocak",  y: {{mountCount.0}} },
            { label: "Şubat",  y: {{mountCount.1}} },
            { label: "Mart",  y: {{mountCount.2}} },
            { label: "Nisan",  y: {{mountCount.3}} },
            { label: "Mayıs",  y: {{mountCount.4}} },
            { label: "Haziran",  y: {{mountCount.5}} },
            { label: "Temmuz",  y: {{mountCount.6}} },
            { label: "Ağustos",  y: {{mountCount.7}} },
            { label: "Eylül",  y: {{mountCount.8}} },
            { label: "Ekim",  y: {{mountCount.9}} },
            { label: "Kasım",  y: {{mountCount.10}} },
            { label: "Aralık",  y: {{mountCount.11}} },
		]
	}
	]
};
$("#c").CanvasJSChart(options);
    var options = {
	title: {
		text: "Haftalık Ezberleme Sayıları"              
	},
	data: [              
	{
		type: "column",
		dataPoints: [
			{ label: "1 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.0}} },
            { label: "2 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.1}} },
            { label: "3 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.2}} },
            { label: "4 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.3}} },
            { label: "5 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.4}} },
            { label: "6 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.5}} },
            { label: "7 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.6}} },
            { label: "8 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.7}} },
            { label: "9 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.8}} },
            { label: "10 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.9}} },
            { label: "11 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.10}} },
            { label: "12 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.11}} },
            { label: "13 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.12}} },
            { label: "14 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.13}} },
            { label: "15 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.14}} },
            { label: "16 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.15}} },
            { label: "17 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.16}} },
            { label: "18 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.17}} },
            { label: "19 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.18}} },
            { label: "20 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.19}} },
            { label: "21 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.20}} },
            { label: "22 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.21}} },
            { label: "23 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.22}} },
            { label: "24 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.23}} },
            { label: "25 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.24}} },
            { label: "26 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.25}} },
            { label: "27 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.26}} },
            { label: "28 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.27}} },
            { label: "29 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.28}} },
            { label: "30 "+"{{currentMonth}}"+" "+"{{currentYear}}",  y: {{dayCount.29}} },
            

		]
	}
	]
};
$("#a").CanvasJSChart(options);
}




</script>

<style>
.body{
        background:gray;
    } 
</style>

</head>
<body class="body">
{% include "includes/navbar.html" %}
<div style = "margin-top : 100px; margin-bottom:100px;" class = "container">
    <div class="jumbotron text-center" style="background-color:#333333">   
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="jumbotron text-center" style="background-color:#333333">   
        <div id="c" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="jumbotron text-center" style="background-color:#333333">   
        <div id="a" style="height: 370px; width: 100%;"></div>
    </div>
</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>