{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center" style="background-color:#333333">       
        <br>
        <p style="color:white"><b>Örnek Cümle</b> : {{kelime.sentence}}<p>
        <p style="color:white"><b>Kelime Yapısı</b> : {{kelime.structure}}<p>                
        <form>
                <input type="text" name="soru" value={{kelime.engWord}} class="word" readonly>
                <p>
                <p><input type="text" name="answer"><p>
                <button type = "submit" class = "btn btn-outline-success">Cevapla</button>
        </form> 
</div>

{% endblock body %}